body {
   text-align: center;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   }   

.inputNumber {
   width: 50px;
   margin: 0 10px 10px;
   }   
   
.contents {
   flex: 1;
   }   

h2{ 
   margin-top: 20px;
   }   
   
.main {
   margin-bottom: 20px;
   }   

footer {
   height: 40px;
   }   
